<div class="container">
    <div class="row inline">
      <div class="col-5">
        <form [formGroup]="registerForm">
          <div class="form-group" >
            <h1>Register</h1>
            <label>First Name</label>
            <input
              type="text"
              placeholder="Enter the first name"
              formControlName="firstName"
              class="form-control"
              maxlength="30"
              required
            />
            <div
              *ngIf="
                firstName.invalid &&
                firstName.touched &&
                firstName.errors.required
              "
            >
            <p class="required-color">First name is required</p>
            </div>
          </div>

          <div class="form-group">
            <label>Last Name</label>
            <input
              type="text"
              placeholder="Enter the last name"
              formControlName="lastName"
              class="form-control"
              maxlength="30"
              required
            />
            <div
              *ngIf="
                lastName.invalid && lastName.touched && lastName.errors.required
              "
            >

              <p class="required-color">Last name is required</p>
            </div>
          </div>

        <div class="form-group">
          <label>Gender</label>
          <select class="custom-select" formControlName="gender" (change)="changeGender($event)">
            <option value="">Choose gender</option>
            <option *ngFor="let gender of genders">
              {{gender}}
            </option>
          </select>
        </div>

          <div class="form-group">
            <label>Email</label>
            <input
              type="email"
              placeholder="Enter the email"
              formControlName="email"
              class="form-control"
              maxlength="30"
              required
            />
            <div *ngIf="email.invalid && email.touched">
              <div *ngIf="email.errors.required"><p class="required-color">Email is required</p></div>
              <div *ngIf="email.errors.email"><p class="required-color">Email is invalid</p></div>
            </div>
          </div>

          <div formGroupName="passwords">
            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                placeholder="Enter the password"
                formControlName="password"
                class="form-control"
                maxlength="30"
                minlength="8"
                required
              />
              <div *ngIf="password.invalid && password.touched">
                <div *ngIf="password.errors.required"><p class="required-color">Password is required</p></div>
                <div *ngIf="password.errors.minlength">
                  <p class="required-color">Password cannot be less than 8 characters</p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Confirm Password</label>
              <input
                type="password"
                placeholder="Confirm the password"
                formControlName="confPassword"
                class="form-control"
                maxlength="30"
                minlength="8"
                required
              />
              <div *ngIf="confPassword.invalid && confPassword.touched">
                <div *ngIf="confPassword.errors.required">
                  <p class="required-color">Confirm Password is required</p>
                </div>
              </div>
            </div>
            <div *ngIf="password.touched && passwords.errors?.confPass">
              <p class="required-color">Your passwords do not match</p>
            </div>
          </div>
        </form>
        <div class="col-14">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="registerForm.invalid && submittedPressed">
            <p>Form is invalid!</p>
          </div>
        </div>
        <div class="btn-toolbar">
        <button type="submit" class="btn btn-dark bottom-center" style="margin-left:auto; margin-right:auto;" (click)="submit()">
          Register
        </button>
        </div>

        <p align="center">
          <a class="nav-link" routerLink="/login">Already have an account?</a>
        </p>

      </div>
    </div>
  </div>
