 <div class="page">
  <div class="feed">
    <div *ngIf="!owner">
      <br>
      <div *ngIf="buttonStatus">
        <button type="button" class="btn btn-primary btn-sm" (click)="followuser()">Follow</button>
      </div>
      <div *ngIf="!buttonStatus">
        <button type="button" class="btn btn-primary btn-sm" (click)="followuser()">Unfollow</button>
      </div>
    </div>
    <div *ngIf="owner&&!showUpdateInfo">
      <br>
      <button type="button" class="btn btn-primary btn-sm" (click)="show()">Update profile</button>
    </div>
    <div *ngIf="showUpdateInfo">
      <br>
      <form [formGroup]="updateForm">
        <div class="form-group">
          <label>Profile Image</label>
          <input type="text" formControlName="profileImage" class="form-control" />
        </div>
        <div class="form-group">
          <label>Age</label>
          <input type="text" formControlName="age" class="form-control" maxlength="3" />
          <div *ngIf="age.invalid && age.touched">
            <p style="color:tomato">Enter a valid age</p>
          </div>
        </div>
        <div class="buttons">
          <button type="button" class="btn btn-primary btn-sm" (click)="submit()">Submit</button>
          <div class="divider"></div>
          <button type="button" class="btn btn-primary btn-sm" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
    <br>
    <meta name="referrer" content="no-referrer" />
    <img class="profileimg" [src]="image" (error)="this.image = '/assets/user.png'">
    <h5>{{ firstName }} {{ lastName }}</h5>
    <h6> {{gender}} {{userage}}</h6>
    <div *ngFor="let userPost of userPosts">
      <app-profile-post [userPost]="userPost">
      </app-profile-post>
    </div>
  </div>
</div> 